In [ ]:
import pandas as pd

In [ ]:
#load the datasets
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('moviesData.csv')

In [ ]:
# Merge DataFrames on the common column 'id' and 'movieId'
movie_ratings = pd.merge(movies, ratings, left_on='id', right_on='movieId')
movie_ratings

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,userId,movieId,rating,timestamp
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,792,278,3.0,832241189.0
1,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,845,278,3.0,830830705.0
2,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,992,278,4.0,832356683.0
3,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,1070,278,3.0,831095485.0
4,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,1214,278,5.0,838880670.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35904,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,611,2312,3.0,978548339.0
35905,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,773,2312,3.0,940163712.0
35906,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,798,2312,5.0,951386743.0
35907,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,805,2312,3.0,973901856.0
35908,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,918,2312,5.0,953412095.0

In [ ]:
# drop columns
movie_ratings = movie_ratings.drop(['id','genre','original_language','overview','popularity','release_date','vote_average','vote_count','timestamp'], axis =1)
movie_ratings

                                               title  userId  movieId  rating
0                           The Shawshank Redemption     792      278     3.0
1                           The Shawshank Redemption     845      278     3.0
2                           The Shawshank Redemption     992      278     4.0
3                           The Shawshank Redemption    1070      278     3.0
4                           The Shawshank Redemption    1214      278     5.0
...                                              ...     ...      ...     ...
35904  In the Name of the King: A Dungeon Siege Tale     611     2312     3.0
35905  In the Name of the King: A Dungeon Siege Tale     773     2312     3.0
35906  In the Name of the King: A Dungeon Siege Tale     798     2312     5.0
35907  In the Name of the King: A Dungeon Siege Tale     805     2312     3.0
35908  In the Name of the King: A Dungeon Siege Tale     918     2312     5.0

[35909 rows x 4 columns]

In [ ]:
# create a new data set
# for userId and the movies they rated
user_ratings = movie_ratings.pivot_table(index=['userId'], columns=['title'], values='rating')

user_ratings.head()

title,10 Things I Hate About You,"10,000 BC",1408,15 Minutes,16 Blocks,2 Days in Paris,"20,000 Leagues Under the Sea",2001: A Space Odyssey,2010,2046,...,Y Tu Mamá También,Yamakasi,You Only Live Twice,Young Frankenstein,Z,Zathura: A Space Adventure,Zatoichi,Zodiac,eXistenZ,xXx
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Remove movies which has less than 10 users who rated it. and fill remaining NaN with 0
user_ratings = user_ratings.dropna(thresh=10,axis=1).fillna(0)
user_ratings

title,2 Days in Paris,"20,000 Leagues Under the Sea",2001: A Space Odyssey,24 Hour Party People,25th Hour,28 Days Later,28 Weeks Later,3-Iron,300,"4 Months, 3 Weeks and 2 Days",...,What's Eating Gilbert Grape,Whatsoeverly,While You Were Sleeping,Willy Wonka & the Chocolate Factory,Wings of Desire,X-Men Origins: Wolverine,Y Tu Mamá También,Young Frankenstein,Zatoichi,xXx
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1258,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,3.0,0.0,0.0,0.0
1259,0.0,0.0,0.0,4.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# build the similarity matrix - model
# use built in method to get the pearson correlation
item_similarity_df = user_ratings.corr(method='pearson')
item_similarity_df.head()

title,2 Days in Paris,"20,000 Leagues Under the Sea",2001: A Space Odyssey,24 Hour Party People,25th Hour,28 Days Later,28 Weeks Later,3-Iron,300,"4 Months, 3 Weeks and 2 Days",...,What's Eating Gilbert Grape,Whatsoeverly,While You Were Sleeping,Willy Wonka & the Chocolate Factory,Wings of Desire,X-Men Origins: Wolverine,Y Tu Mamá También,Young Frankenstein,Zatoichi,xXx
title,,,,,,,,,,,,,,,,,,,,,
2 Days in Paris,1.000000,0.074335,0.050584,0.072756,-0.009230,0.143751,0.038843,0.059754,0.053538,0.037273,...,0.138896,-0.009646,0.024672,0.072325,0.126253,0.132252,0.178751,0.027716,0.019657,0.064893
"20,000 Leagues Under the Sea",0.074335,1.000000,0.099148,0.006271,0.076854,0.119975,0.119049,-0.010051,-0.000611,0.069403,...,0.193505,0.006625,0.012107,0.214680,0.127198,0.030847,0.185113,0.055900,0.084130,-0.007968
2001: A Space Odyssey,0.050584,0.099148,1.000000,0.014052,0.000596,0.080939,0.029763,-0.019524,0.130482,0.041810,...,0.042999,0.003218,0.048846,0.146090,0.081707,0.094793,0.119309,0.084654,0.078900,0.097082
24 Hour Party People,0.072756,0.006271,0.014052,1.000000,-0.009256,-0.017854,0.007818,0.076737,0.062050,0.174283,...,0.080038,-0.009673,0.142039,0.029325,0.095360,0.053601,0.067103,0.027284,0.052752,0.138476
25th Hour,-0.009230,0.076854,0.000596,-0.009256,1.000000,0.107686,0.130107,0.127266,0.017062,-0.012186,...,0.160132,0.061974,0.110415,0.059704,0.050515,0.030054,0.206801,0.114376,0.109413,0.050080

In [ ]:
# Make the recommendations to the user based on the model we created

def get_similar_movies(movie_name, user_rating):
    # if user has rated a movie bad those similar movies should go down the list
    similar_score = item_similarity_df[movie_name] * (user_rating - 2.5) # so if the rating is lower than 2.5, it will give more negative values and push them down the list
    similar_score = similar_score.sort_values(ascending=False)

    return  similar_score

In [ ]:
# Create a fake user
action_lover = [("2001: A Space Odyssey", 5), ("25th Hour", 1), ("2 Days in Paris", 1)]

#create empty data frame to collect all the similar movies that can suggest to the user
similar_movies = pd.DataFrame()

for movie, rating in action_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie, rating), ignore_index=True)

similar_movies.head()
# sum all the values row wise and  make it in descending order
similar_movies.sum().sort_values(ascending=False)

<ipython-input-10-f9f40d17c975>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(get_similar_movies(movie, rating), ignore_index=True)
<ipython-input-10-f9f40d17c975>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(get_similar_movies(movie, rating), ignore_index=True)
<ipython-input-10-f9f40d17c975>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(get_similar_movies(movie, rating), ignore_index=True)

title
2001: A Space Odyssey    2.423230
Four Rooms               0.923235
Almost Famous            0.881853
Bad Education            0.760912
Lolita                   0.760779
                           ...
Taxi 3                  -0.669486
Rent                    -0.673148
Onibaba                 -0.673218
2 Days in Paris         -1.359695
25th Hour               -1.484666
Length: 603, dtype: float64

In [ ]:
# Save the model
import pickle

#movies file
pickle.dump(user_ratings, open('user_ratings.pkl', 'wb'))

#similarity file
pickle.dump(item_similarity_df, open('item_similarity.pkl', 'wb'))